<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.machine.geek.mapper.IDatabaseMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.machine.geek.entity.DatabaseTable">
        <result column="TABLE_NAME" property="tableName" />
        <result column="ENGINE" property="engine" />
        <result column="TABLE_COMMENT" property="tableComment" />
        <result column="CREATE_TIME" property="createTime" />
    </resultMap>
    <!-- 查询所有数据库信息 -->
    <select id="selectAllDatabaseName" resultType="java.lang.String">
        SHOW DATABASES
    </select>
    <!-- 通过数据库名查询所有数据表信息 -->
    <select id="selectTableByCondition" resultMap="BaseResultMap">
        SELECT
            TABLE_NAME, ENGINE, TABLE_COMMENT,CREATE_TIME
        FROM
            INFORMATION_SCHEMA.TABLES
        WHERE
            TABLE_SCHEMA=#{databaseName}
            AND
            (
                TABLE_NAME LIKE '%${keyWord}%'
                OR
                TABLE_COMMENT LIKE '%${keyWord}%'
            )
    </select>
</mapper>