<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.machine.geek.mapper.ISystemAuthorityMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.machine.geek.entity.SystemAuthority">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="key" property="key" />
        <result column="description" property="description" />
        <result column="type" property="type" />
        <result column="path" property="path" />
        <result column="parent_id" property="parentId" />
        <result column="sort" property="sort" />
        <result column="version" property="version" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `id`,`name`,`key`,`description`,`type`,`path`,`parent_id`,`sort`,`version`,`create_time`,`update_time`
    </sql>
    <!-- 根据用户ID查询权力 -->
    <select id="selectByUserId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM
        system_authority
        INNER JOIN system_role_authority_relation ON system_role_authority_relation.authority_id = system_authority.id
        INNER JOIN system_user_role_relation ON system_user_role_relation.role_id = system_role_authority_relation.role_id
        WHERE
        system_user_role_relation.user_id = #{userId}
    </select>
    <!-- 根据用户ID查询权力 -->
    <select id="selectByRoleId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM
        system_authority
        INNER JOIN system_role_authority_relation ON system_role_authority_relation.authority_id = system_authority.id
        WHERE
        system_role_authority_relation.role_id = #{roleId}
    </select>
</mapper>