<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.machine.geek.mapper.ISystemRoleMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.machine.geek.entity.SystemRole">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="key" property="key" />
        <result column="description" property="description" />
        <result column="version" property="version" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `id`,`name`,`key`,`description`,`disable`,`version`,`create_time`,`update_time`
    </sql>
    <!-- 根据用户ID查询角色 -->
    <select id="selectByUserId" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List"></include>
        FROM
            system_role
        INNER JOIN system_user_role_relation ON system_user_role_relation.role_id = system_role.id
        WHERE
        system_user_role_relation.user_id = #{userId}
    </select>
</mapper>